<html lang="en">
<head>
  <title>Home Group Email</title>
</head>

<body style="font-family: 'Roboto', sans-serif;">
  <h2 style="font-weight: bold; color: #3f51b5; margin-bottom: 20px">Home Group</h2>

  <div>
    <h3 style="font-weight: bold; color: #3f51b5; margin-bottom: 20px">
      Password Reset Link
    </h3>

    <p>
      Hey there {{firstName}},
    </p>

    <p>We received a password reset request. Click on the link below to reset your password.</p>

    <a href={{link}} style="padding: 12px; font-size: 0.875rem; border-radius: 4px; color: #fff !important; background-color: #3f51b5; text-decoration: none !important; width: 150px; text-align: center;">
      Reset Password
    </a>

    <br/>
    <br/>
  </div>
</body>
</html>
